WORKSPACE_INSTALLER_BRANCH=ubuntu-server-18.04
WORKSPACE_REPO_BRANCH=master
WORKSPACE_REPO=git@github.com:garethclarkeza/zen-workspace.git
WORKSPACE_ROOT_FOLDER=/media/sf_workspace
WORKSPACE_WIN_HOSTS_FOLDER=/media/sf_win_hosts
LARADOCK_REPO=git@github.com:garethclarkeza/laradock.git
LARADOCK_BRANCH=workspace
BASH_SCRIPTS_ROOT=/usr/bin/
BASH_SCRIPTS_SOURCE_ROOT=/media/sf_workspace/packages/bash/*.sh
BASH_SCRIPTS_DEFAULT_PERMISSIONS=775
NODE_VERSION=10
NVM_VERSION=0.33.11
PHP_VERSION=7.2
JDK_VERSION=
DOCKER_LEMP='nginx mysql php-fpm workspace'
DOCKER_LAMP='apache2 mysql php-fpm workspace'
DOCKER_STACK1='nginx mysql redis php-fpm workspace'
DOCKER_STACK2='nginx mysql mongo redis php-fpm workspace'
DOCKER_STACK3='apache mysql redis php-fpm workspace'
DOCKER_STACK4='apache mysql mongo redis php-fpm workspace'
