HOST_IP=192.168.100.101
WORKSPACE_IP=192.168.100.102

MASTER_WWW_GROUP=www-data
MASTER_WWW_GID=1111

WORKSPACE_INSTALLER_BRANCH=master

LARADOCK_REPO=https://github.com/garethclarkeza/laradock.git
LARADOCK_BRANCH=develop

WORKSPACE_REPO=https://github.com/garethclarkeza/zen-workspace.git
WORKSPACE_REPO_BRANCH=develop
WORKSPACE_APP_FOLDER=~/zen
WORKSPACE_WWW_FOLDER=/var/www
WORKSPACE_WIN_SYNC_FOLDER=/media/sf_workspace_backup
WORKSPACE_WIN_HOSTS_FOLDER=/media/sf_win_hosts
WORKSPACE_WELCOME_PAGE=/hello/world

SAMBA_PUBLIC=/home/gareth/public
SHARE_GROUP=vboxsf

BASH_SCRIPTS_ROOT=/usr/bin
BASH_SCRIPTS_SOURCE_ROOT=${WORKSPACE_APP_FOLDER}/packages/bash/*.sh
BASH_SCRIPTS_DEFAULT_PERMISSIONS=775
#BASH_SCRIPTS_SOURCE_ROOT=/media/sf_workspace/packages/bash/*.sh

PHP_VERSION=7.2
NODE_VERSION=10
NVM_VERSION=0.33.11
MONGO_UTILS=true
MONGO_SHELL=true
JDK_VERSION=
