WORKSPACE_INSTALLER_BRANCH=ubuntu-server-18.04
WORKSPACE_REPO_BRANCH=hive-ubuntu
WORKSPACE_REPO=git@bitbucket.org:pixelventuresZA/workspace.git
WORKSPACE_ROOT_FOLDER=/media/sf_workspace
WORKSPACE_WIN_HOSTS_FOLDER=/media/sf_win_hosts
LARADOCK_REPO=git@github.com:garethclarkeza/laradock.git
BASH_SCRIPTS_ROOT=/usr/bin/
BASH_SCRIPTS_SOURCE_ROOT=/media/sf_workspace/packages/bash/*.sh
BASH_SCRIPTS_DEFAULT_PERMISSIONS=775
NODE_VERSION=10
NVM_VERSION=0.33.11
PHP_VERSION=7.2
PHP_EXT_ZIP=true
PHP_EXT_XML=true
PHP_EXT_SQLITE=true
PHP_EXT_SOAP=true
PHP_EXT_READLINE=true
PHP_EXT_OPCACHE=true
PHP_EXT_OBDC=true
PHP_EXT_MYSQL=true
PHP_EXT_MBSTRING=true
PHP_EXT_BCMATH=true
PHP_EXT_BZ2=true
PHP_EXT_CURL=true
PHP_EXT_GD=true
PHP_EXT_INTL=true
PHP_EXT_AMQP=true
PHP_EXT_APCU=true
PHP_EXT_GEOIP=true
PHP_EXT_MONGODB=true
PHP_EXT_REDIS=true
PHP_EXT_SSH2=true
PHP_EXT_UUID=true
DOCKER_LEMP='nginx mysql php-fpm workspace'
DOCKER_LAMP='apache2 mysql php-fpm workspace'
DOCKER_STACK1='nginx mysql redis php-fpm workspace'
DOCKER_STACK2='nginx mysql mongo redis php-fpm workspace'
DOCKER_STACK3='apache mysql redis php-fpm workspace'
DOCKER_STACK4='apache mysql mongo redis php-fpm workspace'
